.flag {
  background: img-url('flags.png') no-repeat;
  display: inline-block;
  height: 11px;
  width: 16px;
}

.flag.flag-de {background-position: -16px 0}
.flag.flag-es {background-position: -32px 0}
.flag.flag-fr {background-position: 0 -11px}
.flag.flag-gb,
.flag.flag-en
{background-position: -16px -11px}
