body > .overlay-spinner {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.overlay-spinner{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.closed{
    display: none;
  }
  .icone{
    flex-grow: 1;
  }
}