.sidebar {
  .user-panel {
    display: table;
    & > div {
      display: table-cell;
      vertical-align: middle;
      &.image {
        width: 50px;
      }
      &.info {
        position: static;
        p {
          margin: 0;
        }
      }
    }
  }
}
.sidebar-menu{
  > li > a{
    align-items: center;
    display: flex;
  }
}