.box-stats {
  //border: 1px solid $gray-base;
  .label {
    font-size: 100%;
  }
  .stat-icon {
    margin-right: 5px;
  }
  .score-container {
    text-align: right;
  }

  .box-body {
    padding: 0;
  }
  .box-header {
    .category {
      background-color: rgba(255, 255, 255, 0.1);
      border-bottom-right-radius: $border-radius-base;
      font-size: $font-size-small - 2;
      left: 0;
      padding: 0px 5px 0 10px;
      position: absolute;
      top: 0;
    }
    & > div.stat {
      display: flex;
      justify-content: space-between;
      .stat-icon-container,
      .score-container {
        flex: 0 0 42px;
      }
      .stat-icon-container {
        img {
          max-height: 22px;
        }
      }
      .box-title-container {
        flex-basis: auto;
        text-align: center;
      }
    }
  }
  .box-title {
    font-size: $font-size-h4;
    &.small {
      font-size: $font-size-h4 * 0.9;
    }
  }
  .desc {
    font-size: 10px;
    margin-bottom: 0;
    text-align: center;
  }
  ul {
    li {
      border-top: 1px dashed $gray-base;
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      &:first-child {
        border-top: none;
      }
      &.user-has {
        background: repeating-linear-gradient(
                        130deg,
                        $brand-primary-lighter,
                        $brand-primary-lighter 10px,
                        darken($brand-primary-lighter, 10%) 10px,
                        darken($brand-primary-lighter, 10%) 20px
        );
        border-left: 3px solid $brand-primary;
        border-right: 3px solid $brand-primary;
        padding: 5px 7px;
      }
      img {
        max-height: 20px;
      }
      span {
        text-align: center;
        vertical-align: middle;
        &.score {
          flex: 0 0 42px;
          text-align: left;
        }
        &.npoints {
          flex: 0 0 42px;
          text-align: right;
        }
      }
    }
  }
}