$brand-primary: #3C8DBC;
$brand-primary-dark: darken($brand-primary, 6.5%);
$brand-primary-light: lighten($brand-primary, 10%);
$brand-primary-lighter: lighten($brand-primary, 43%);

$gray-base: #3B4151;

$path-images: '/assets/img';

$text-color: $gray-base;
